.header {
  height: 110px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.frame-child {
  width: 46.5px;
  height: 40px;
  position: relative;
}
.logo-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.digital,
.vrio {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.vrio {
  letter-spacing: 0.03em;
  min-width: 96px;
}
.digital {
  min-width: 94px;
}
.digital-wrapper,
.logo,
.logo-wrapper,
.vrio-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.digital-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  margin-top: -18px;
  font-size: 24px;
}
.logo,
.logo-wrapper,
.vrio-parent {
  flex-direction: column;
}
.logo,
.logo-wrapper {
  flex-direction: row;
}
.logo {
  gap: 10.5px;
}
.logo-wrapper {
  z-index: 1;
}
.about-us1 {
  position: relative;
  display: inline-block;
  min-width: 86px;
  white-space: nowrap;
}
.about-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  z-index: 1;
}
.sectors1 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.sectors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs);
  z-index: 1;
}
.services1 {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-10xs) var(--padding-10xs);
  z-index: 1;
}
.clients1 {
  position: relative;
  display: inline-block;
  min-width: 71px;
}
.clients {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px var(--padding-10xs) 8px;
  z-index: 1;
}
.careers1 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.about-us-parent,
.careers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.careers {
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-10xs) 5px;
  z-index: 1;
}
.about-us-parent {
  margin: 0;
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-sf-pro);
}
.frame-wrapper,
.header-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  margin: 0;
  width: 590px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 28px 0 0;
}
.header-parent {
  align-self: stretch;
  background-color: var(--color-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 55px 17px 26px;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 36px;
  color: var(--color-white);
  font-family: var(--font-jost);
}
.carousel-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.pexels-balidmr-3415148-1-icon {
  height: 1862px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.digital1 {
  margin: 0 !important;
  height: 115px;
  width: 377px;
  position: absolute;
  right: 531px;
  bottom: 869px;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.pexels-balidmr-3415148-1-parent {
  margin-bottom: -529px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.wrapper-group-1-child {
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: -14px;
  top: 31px;
  transform: scale(1.079);
}
.carousel-item,
.wrapper-group-1 {
  height: 791px;
  width: 947.9px;
  position: absolute;
  margin: 0 !important;
}
.wrapper-group-1 {
  top: -62.1px;
  right: -258.9px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  top: -402.5px;
  right: -269.9px;
  z-index: 3;
}
.carousel,
.frame-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 100%;
}
.carousel {
  height: 794px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  text-align: left;
  font-size: 96px;
  color: var(--color-white);
  font-family: var(--font-sf-pro);
}
.frame-parent {
  flex-direction: column;
  align-items: flex-start;
  debug_commit: 1de1738;
}
.header1 {
  height: 122px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.vrio-digital-services {
  width: 217px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.header-group {
  flex: 1;
  background-color: var(--color-gray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-34xl) 20px var(--padding-34xl) 21px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: var(--color-white);
  font-family: var(--font-sf-pro);
}
.footer,
.landing-page-03 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  height: 110px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 var(--padding-11xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.landing-page-03 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 120px;
  gap: 12px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .frame-wrapper {
    display: none;
  }
  .header-parent {
    padding-right: 27px;
    box-sizing: border-box;
  }
  .digital1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 450px) {
  .digital1 {
    font-size: 29px;
  }
}
